$header-black: #2D2E2F;

.header {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: $header-black;
  position: fixed;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
}

.header-secitons {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  align-items: center;
}

li {
  display: inline-block;
}

.header-left {
  height: 30px;
}

.nav-home {
  height: 30px;
}

img {
  height: 30px;
  width: 30px;
}
