.single-selection-track {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Avenir Next', sans-serif;
  color: #4A4A4A;
  font-weight: 500;
  vertical-align: center;
  #position {
    width: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #999999;
  }
  #name {
    width: 510px;
    vertical-align: center;
  }
  #time {
    width: 80px;
    vertical-align: baseline;
  }
  #single {
    display: flex;
    align-items: center;
    width: 75px;
    font-size: 20px;
  }
  #price {
    display: flex;
    flex-direction: row;
    input {
      width: 50px;
      height: 30px;
      padding-left: 10px;
      border: 1px solid #e1e1e1;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-left: none;
      outline: none;
      font-family: 'Avenir Next', sans-serif;
      font-weight: 500;
      color: #4a4a4a;
    }
    #currency-box {
      height: 34px;
      width: 30px;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: #1596F5;
      margin: 0;
      padding: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      #currency {
        color: #fff;
      }
    }
  }
}

.odd-track {
  background-color: #f7f7f7;
}

.even-track {
  background-color: #fff;
}

.single-selection-con {
  list-style: none;
  margin: 0;
  padding: 0;
}

.single-selection-headers {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  font-size: 14px;
  font-family: 'Avenir Next', sans-serif;
  color: #4A4A4A;
  border-bottom: 1px solid #e4e4e4;
  #name {
    padding-left: 50px;
  }
  #time {
    padding-left: 470px
  }
  #single {
    padding-left: 45px;
  }
  #price {
    padding-left: 40px;
  }
}
