.upload-form-container {
  width: 820px;
  height: auto;
  border: 1px solid #e1e1e1;
  background-color: red;
  display: flex;
}

.important-terms {
  width: 820px;
  text-align: center;
}

.upload-playlist-detail {
  display: flex;
  width: 100%;
  flex-direction: row;
  .artwork-section {
    width: 280px;
    padding: 10px;
    height: auto;
    .artwork-placeholder {
      height: 260px;
      width: 260px;
      background-color: #c1c1c1;
    }
  }
  .upload-form-fields {
    padding-top: 10px;
    padding-right: 10px;
    width: 100%;
    height: auto;
  }
}

.audio-upload-form {
  margin: 0;
  padding: 0;
}

.uploaded-playlist-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #e1e1e1;
}
