@import "../../../variables";

.uploaded-track-ul {
  @include browserFlex;
  @include alignCenter;
  padding: 0px;
  margin: 0px;
  background-color: #F7F7F7;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.uploaded-track {
  @include browserFlex;
  @include alignCenter;
  @include borderBox;
  height: 50px;
  width: 810px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $light-grey;
  background-color: #fff;
  list-style: none;
  .playlist-position {
    width: 30px;
    padding-left: 30px;
    background-color: red;
    font-weight: 500;
    font-family: $font-stack;
    color: $text-black;
  }
  .drag-handle {
    color: #ccc;
    padding-top: 3px;
    vertical-align: baseline;
    height: 20px;
    width: auto;
    &:hover {
      cursor: move;
    }
  }
}

// .track-name-input {
//   height: 30px;
//   width: 600px;
//   border: 1px solid $light-grey;
//   border-radius: 3px;
//   font-weight: 400;
//   padding-left: 10px;
//   color: $text-black;
//   font-family: 'Avenir Next', sans-serif;
//   font-size: 14px;
// }

// .drag-handle {
//   color: #ccc;
//   padding-left: 15px;
//   padding-right: 15px;
//   padding-top: 3px;
//   vertical-align: baseline;
//   &:hover {
//     cursor: move;
//   }
// }

// .remove-track-icon {
//   // cbcbcb
//   color: #ccc;
//   padding-left: 15px;
//   padding-right: 15px;
//   vertical-align: baseline;
//   &:hover {
//     cursor: pointer;
//     color: $text-black;
//   }
// }

// .playlist-position {
//   color: $text-black;
//   font-family: 'Avenir Next', sans-serif;
//   font-size: 14px;
//   font-weight: 500;
//   vertical-align: baseline;
// }

// .add-another-track {
//   background-color: #f7f7f7;
//   border-bottom: 1px solid $light-grey;
//   display: flex;
//   align-items: center;
//   color: #A2A2A2;
//   font-family: 'Avenir Next', sans-serif;
//   font-size: 16px;
//   justify-content: center;
//   width: 100%;
//   height: 56px;
//   border: none;
//   outline: none;
// }

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave-active {
  opacity: 0;
  transition: opacity 3000ms ease-out;
}

.slide-appear {
  opacity: 0;
}

.slide-appear-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.anim-enter, .anim-leave {
    transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
}
.anim-enter, .anim-leave.anim-leave-active {
    opacity: 0;
    transform: scale(0.5, 0);
    transform-origin: top left;
    overflow: hidden;
}
.anim-leave, .anim-enter.anim-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top center;
    overflow: hidden;
}
