$black: #252C30;
$logo-blue: #1596F5;
$placeholder: #a1a1a1;
$e4: #e4e4e4;
$light-blue: #34bfed;
$font-stack: 'Avenir Next', sans-serif;

canvas {
  &:hover {
    cursor: move;
  }
}

.dropzone {
  height: 300px;
  width: 820px;
  border: 2px dashed #B7B7B7;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.inner-drop {
  text-align: center;
  color: #4A4A4A;
  font-family: 'Avenir Next';
  line-height: 20px;
  h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  span {
    color: #4A4A4A;
    font-size: 20px;
    margin: 0;
  }
  .choose-file-btn {
    background: #34BFED;
    border-radius: 2px;
    color: #FFFFFF;
    height: 50px;
    width: 180px;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    border: none;
    outline: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.27);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.27);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.27);
    &:hover {
      cursor: pointer;
      background: desaturate($light-blue, 10%);
    }
  }
  .upload-icon {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }
}

.important-terms {
  width: 810px;
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Avenir Next';
  color: #6F6F6F;
}

.audio-upload-form {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  // border: 1px solid #50E3C2;
  width: 100%;
  height: auto;
}

// .artwork-section {
//   height: auto;
//   // border: 1px solid #34BFED;
// }

.playlist-details {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e1e1e1;
}

.artwork-upload {
  height: 260px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #34BFED 0%, #8fc1fd 96%, #8fc1fd 100%);
  &:hover {
    cursor: pointer;
    // background-image: linear-gradient(45deg, #3e94fc 0%, #8fc1fd 96%, #8fc1fd 100%);
    -webkit-box-shadow: inset 2px 0px 300px -91px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 0px 300px -91px rgba(0,0,0,0.75);
    box-shadow: inset 2px 0px 300px -91px rgba(0,0,0,0.75);
    // opacity: 0.9;
    .add-artwork {
      color: #fff;
      // text-decoration: underline;
    }
  }
  .add-artwork {
    font-family: $font-stack;
    font-weight: 500;
    font-size: 18px;
    color: #eee;
  }
}

.artwork-editor {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.choose-img-btn {
  font-size: 12px;
  font-family: $font-stack;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  border-radius: 3px;
  color: $black;
  width: 100px;
  height: 30px;
  outline: none;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
/* ...and now for the proper property */
  transition:.3s;
  &:hover {
    border-color: grey;
    cursor: pointer;
  }
}

.upload-form-footer {
  width: 810px;
  height: 60px;
  display: flex;
  align-items: center;
}

.form-footer-content {
  padding: 0 20px;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.hub-upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-another-track {
  height: 60px;
  width: 100%;
  background-color: #F7F7F7;
}

.side-by-side-dropdowns {
  display: flex;
}

.upload-playlist-title {
  color: #4A4A4A;
  font-family: 'Avenir Next';
  font-size: 22px;
  vertical-align: baseline;
  margin: 5px 0;
}

.upload-title-price-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
}

.fa-icon {
  color: #d1d1d1;
}

.upload-slider-con {
  display: flex;
  justify-content: space-between;
  width: 140px;
  margin-left: 5px;
  align-items: center;
}

.add-another-track {
  // border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  .add-another-track-text {
    color: #A2A2A2;
    font-family: 'Avenir Next', sans-serif;
    font-size: 16px;
  }
  &:hover {
    cursor: pointer;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  margin: 4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e1e1e1;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  // box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #1596f5;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #1596f5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #e1e1e1;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #e1e1e1;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  // box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #1596f5;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #1596f5;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e1e1e1;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #e1e1e1;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  // box-shadow: 0px 0px 0.2px #000000, 0px 0px 0px #0d0d0d;
  border: 1px solid #1596f5;
  height: 11px;
  width: 11px;
  border-radius: 50px;
  background: #1596f5;
  cursor: pointer;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e1e1e1;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e1e1e1;
}
