.profile-detail {
  margin-top: 20px;
  width: 1150px;
  height: auto;
  display: flex;
  // background-color: red;
  overflow: visible;
  justify-content: space-between;
  // position: relative;
}

// @media (max-width: 1200px) {
//   .profile-detail {
//     justify-content: center;
//   }
// }
