.profile-detail-content {
  width: 100%;
  height: auto;
  display: flex;
  // background-color: #eff3f5;
  justify-content: center;
  align-items: center;
  // clear: both;
}

.profile-detail-margin {
  margin-top: 50px;
}
