.profile-activity {
  width: 810px;
  // min-height: 100vh;
  height: auto;
  min-height: calc(100vh - 112px); // no content gits profile nav
  // background-color: #eff3f5;
  // background-color: #fff;
  // border: 1px solid #e4e4e4;
  // border-radius: 2px;
}
