$black: #252C30;
$logo-blue: #1596F5;
$placeholder: #a1a1a1;
$e4: #e4e4e4;
$light-blue: #34bfed;
$font-stack: 'Avenir Next', sans-serif;

.profile-user {
  height: 560px;
  width: 340px;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  // justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  // position: fixed;
  .profile-picture {
    width: 320px;
    height: 220px;
    background-color: #e1e1e1;
    margin-top: 10px;
  }
  .user-details {
    height: 100px;
    width: 320px;
    margin: 10px;
    #display-name {
      font-family: $font-stack;
      font-size: 24px;
      font-weight: 700;
      color: $black;
    }
    #username {
      font-family: $font-stack;
      color: lighten($black, 20%);
      font-size: 16px;
      font-weight: 400;
    }
  }
}
