#profile-nav {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
  flex-direction: row;
  // position: fixed;
}

.profile-nav-fixed {
  position: fixed;
  top: 50px;
  right: 0;
}
