@import "../../variables";

@mixin boxshadow {
  -webkit-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  -moz-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
}

.profile-user {
  height: 560px;
  width: 320px;
  overflow: visible;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  @include boxshadow;
  flex-direction: column;
  .profile-picture-placeholder {
    width: 300px;
    height: 187px;
    background-color: #e1e1e1;
    margin-top: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .user-details {
    height: 100px;
    width: 300px;
    margin: 10px;
    #display-name {
      font-family: $font-stack;
      font-size: 22px;
      font-weight: 700;
      color: $text-black;
      padding-bottom: 3px;
    }
    #username {
      font-family: $font-stack;
      color: lighten($text-black, 10%);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 7px;
    }
    .follow-btn-placeholder {
      height: 35px;
      width: 160px;
      font-weight: 500;
      color: #fff;
      background-color: $blue;
      border-radius: 100px;
      border: 1px solid $blue;
      outline: none;
      &:hover {
        background-color: lighten($blue, 10%);
        border: 1px solid lighten($blue, 10%);
        cursor: pointer;
      }
      &:active {
        outline-color: $blue;
        -webkit-box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,1);
        -moz-box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,1);
        box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,2);
        cursor: pointer;
      }
    }
  }
}

/* Mask: */
