$black: #252C30;
$logo-blue: #1596F5;
$placeholder: #a1a1a1;
$e4: #e4e4e4;
$light-blue: #34bfed;
$font-stack: 'Avenir Next', sans-serif;

.profile-user {
  height: 560px;
  width: 350px;
  background-color: #fff;
  border: 1px solid #E4E4E4;
  display: flex;
  align-items: center;
  flex-direction: column;
  .profile-picture-placeholder {
    width: 330px;
    height: 220px;
    background-color: #e1e1e1;
    margin-top: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .user-details {
    height: 100px;
    width: 330px;
    margin: 10px;
    #display-name {
      font-family: $font-stack;
      font-size: 24px;
      font-weight: 700;
      color: $black;
      padding-bottom: 2px;
    }
    #username {
      font-family: $font-stack;
      color: lighten($black, 10%);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 7px;
    }
    .follow-btn-placeholder {
      height: 35px;
      width: 180px;
      font-weight: 500;
      color: #fff;
      background-color: $logo-blue;
      border-radius: 100px;
      border: 1px solid $logo-blue;
      outline: none;
      &:hover {
        background-color: lighten($logo-blue, 10%);
        border: 1px solid lighten($logo-blue, 10%);
        cursor: pointer;
      }
      &:active {
        outline-color: $logo-blue;
        -webkit-box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,1);
        -moz-box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,1);
        box-shadow: inset 10px -76px 300px -188px rgba(0,0,0,2);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1130px) {
  .profile-user {
    display: none;
  }
}

// .profile-user-fixed {
//   right: 130px;
//   top: 110px;
//   position: fixed;
// }
