.profile-detail {
  margin-top: 10px;
  width: 1180px;
  height: auto;
  display: flex;
  justify-content: space-between;
  // position: relative;
  overflow: hidden;
}

@media (max-width: 1198px) {
  .profile-detail {
    justify-content: center;
  }
}
