$black: #252C30;
$logo-blue: #1596F5;
$e4: #e4e4e4;
$light-blue: #34bfed;
$font-stack: 'Avenir Next', sans-serif;

.form-input {
  height: 43px;
  width: 370px;
  border-radius: 2px;
  font-size: 16px;
  border-color: #D4D4D4;
  border-width: 1px;
  font-weight: 450;
  border-style: solid;
  font-family: $font-stack;
  color: $black;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  padding-left: 15px;
  &:focus {
    outline-color: #34bfed;
    outline-offset: none;
    outline-style: ridge;
    outline-width: thin;
    outline-radius: 2px;
    border: none
  }
  margin: 0;
}

.form {
  padding: 30px 15px;
  align-items: center;
  color: $black;
}

.form-section {
  flex: 1;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.form-header {
  font-size: 32px;
  margin: 0;
  text-align: left;
  color: $black;
  font-family: $font-stack;
}

.form-p {
  font-family: $font-stack;
  margin: 0;
  font-size: 20px;
  color: $black;
  padding-bottom: 5px;
}

.form-container {
  width: 400px;
  height: 500px;
  border: solid;;
  border-color: $e4;
  border-radius: 2px;
  border-width: 1px;
  margin: 0 auto;
  background-color: #fff;
}

.btn {
  width: 370px;
  height: 55px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #34BFED 0%, #63E1F8 100%);
  border: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-family: $font-stack;
  font-weight: 500;
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}

.error {
  color: #cc0000;
  font-family: $font-stack;
}

.need-help {
  color: $light-blue;
  font-family: $font-stack;
  .help-link {
    font-size: 12;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.checkbox {
  color: $logo-blue;
}

.remember-me {
  font-family: $font-stack;
}

.field-info {
  font-size: 13px;
  font-family: $font-stack;
  color: #6C6C6C;
  padding: 5px 0px;
}

span {
  color: $light-blue;
}
