@import "../../variables";

#jumbo-con {
  width: 100%;
  height: 490px;
  background: url('../../../../assets/images/jumbotron.png');
  background-size: cover;
  position: relative;
  // animation: 200s scroll linear;
  .logo-con {
    @include browserFlex;
    @include justifyCenter;
    @include alignCenter;
    z-index: 1;
    position: absolute;
    align-self: flex-start;
    align-items: center;
    height: 40px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 15px;
    .logo {
      height: 40px;
      width: 50px;
    }
    .tunebay {
      margin-top: 4px;
      height: 26px;
      padding-left: 3px;
    }
  }

  .overlay {
    position: relative;
    @include browserFlex;
    justify-content: space-around;
    flex-direction: row;
    height: 490px;
    background-image: linear-gradient(
      135deg,
      rgba(66, 153, 255, 1) 0%,
      rgba(60, 200, 255, 1) 0%,
      rgba(4, 139, 255, 0.9) 31%,
      rgba(60, 200, 255, 0.8) 100%
    );

    .shout-out {
      margin: 0 20px;
      width: 570px;
      color: #fff;
      font-family: $font-stack;
      .title {
        font-size: 44px;
        margin: 15px 0;
      }
      .tag {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
      }
      .action-buttons {
        width: auto;
        @include browserFlex;
        flex-direction: row;
        align-items: center;
        // justify-content: center;
        .discover-btn {
          text-decoration: none;
          @include browserFlex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 40px;
          border-radius: 100px;
          border: 1px solid #fff;
          color: #fff;
          font-weight: 500;
          margin-right: 15px;
          &:hover {
            cursor: pointer;
          }
        }
        .sell-your-own-btn {
          text-decoration: none;
          @include browserFlex;
          align-items: center;
          justify-content: center;
          width: 150px;
          height: 40px;
          border-radius: 100px;
          border: 1px solid #fff;
          background-color: #fff;
          color: $blue;
          font-weight: 500;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .auth-container {
      margin-right: 20px;
      border-bottom: 1px solid $light-grey;
      width: 420px;
      height: 490px;
      background-color: #fff;
      .auth-con-header {
        @include borderBox;
        @include browserFlex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 20px;
        height: 60px;
        width: 100%;
        // background-color: #f1f1f1;
        .login-btn {
          @include browserFlex;
          @include alignCenter;
          @include justifyCenter;
          height: 35px;
          font-weight: 400;
          font-family: $font-stack;
          width: 100px;
          outline: none;
          color: #fff;
          background-color: $blue;
          border: none;
          border-radius: 100px;
          transition: all 75ms ease-out;
          &:hover {
            cursor: pointer;
            background-color: darken($blue, 10%);
          }
        }
      }
      .auth-content {
        @include borderBox;
        height: 440px;
        font-family: $font-stack;
        color: $text-black;
        width: 100%;
        padding: 0 20px;
        // background-color: red;
        .auth-title {
          font-size: 26px;
          margin: 0px 0;
        }
        .auth-tag {
          font-size: 16px;
          font-weight: 400;
          line-height: 1.4;
        }
        .fb-btn {
          width: 380px;
          height: 65px;
          @include browserFlex;
          flex-direction: row;
          background-color: #39579A;
          font-family: $font-stack;
          font-size: 14px;
          color: #fff;
          border: none;
          border-radius: 3px;
          .fb-logo {
            position: absolute;
            margin-left: 22px;
          }
          .btn-txt {
            width: 100%;
            align-self: center;
            @include browserFlex;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .google-btn {
          @include browserFlex;
          flex-direction: row;
          margin-top: 10px;
          @include browserFlex;
          align-items: center;
          width: 380px;
          height: 65px;
          background-color: #fff;
          font-family: $font-stack;
          font-size: 14px;
          color: $text-black;
          border: 1px solid #ccc;
          border-radius: 3px;
          .btn-txt {
            width: 100%;
            align-self: center;
            @include browserFlex;
            justify-content: center;
            align-items: center;
          }
          .google-logo {
            position: absolute;
            height: 20px;
            margin-left: 20px;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .or {
          @include browserFlex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          color: $text-black;
          font-size: 14px;
          .hr {
            margin: 20px 0;
            width: 160px;
            height: 1px;
            background-color: $light-grey;
          }
        }
        .signup-email-btn {
          @include browserFlex;
          text-decoration: none;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 380px;
          height: 65px;
          background-color: $blue;
          font-family: $font-stack;
          font-size: 14px;
          color: #fff;
          border-radius: 3px;
        }
        .terms {
          width: 380px;
          line-height: 1.4;
          .terms-link {
            text-decoration: none;
            color: $blue;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@keyframes scroll{
  100%{
    background-position: -3000px 0;
  }
}
