#jumbo-con {
  width: 100%;
  height: 550px;
  background-image: url('../../../../assets/images/jumbo-background.jpg');
  background-position: 0px 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#jumbo-logo {
  height: 30px;
  width: 30px;
}

// background-image: url('../../../../assets/images/jumbo-background.jpg');
