$font-stack: 'Avenir Next', sans-serif;
$light-blue: #34BFED;

#jumbo-con {
  width: 100%;
  height: 550px;
  background-image: url('../../../../assets/images/jumbo-background.jpg');
  background-position: 0px 0px;
  overflow: hidden;
  display: flex;
  background-size: cover;
}

#jumbo-logo {
  height: 40px;
  width: auto;
  padding-top: 24px;
  padding-left: 24px;
  position: absolute;
}

#shoutout-con {
  width: 550px;
  #shout-h {
    color: white;
    font-size: 48px;
    font-family: $font-stack;
    font-weight: bold;
    margin: 0;
  }
  #shout-p {
    color: white;
    font-size: 24px;
    font-family: $font-stack;
    font-weight: 400;
  }
  #shout-btn {
    width: 150px;
    height: 45px;
    border-radius: 100px;
    background: none;
    color: white;
    border: solid 2px #E9E8E8;
    font-family: $font-stack;
    &:hover {
      cursor: pointer;
      background-color: rgba(255,255,255,0.1);
      border-color: white;
    }
  }
}

#jumbo-main {
  display: flex;
  width: 1080px !important;
  margin: 0 auto !important;
  position: relative;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
}

.form-container {
  height: 550px !important;
  border-radius: 0px !important;
  border-radius: 0px !important;
  margin: 0 !important;
  -webkit-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.44);
  -moz-box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.44);
  box-shadow: inset 0px 1px 20px -7px rgba(0,0,0,0.44);
}

.form-con-btns {
  height: 50px;
  background-color: #e1e1e1;
  flex-direction: row;
  display: flex;
}

.welcome-signup-btn {
  border: none;
  height: 50px;
  flex: 1;
  background-color: $light-blue;
  color: white;
}

.welcome-login-btn {
  border: none;
  height: 50px;
  flex: 1;
  background-color: $light-blue;
  color: white;
}

.auth-btn-active {
  background-color: white;
  color: $light-blue;
}



// background-image: url('../../../../assets/images/jumbo-background.jpg');
