$black: #2D2E2F;
// $blue: #1596F5;  // original one
$blue: #0089EE;
$light-blue: #34bfed;
$darker-black: #1E2325;
$light-grey: #e4e4e4;
$border-color: #dbdbdb;
$text-black: #46484A;
$royal: #2E3F52;
$green: #43AC6A;
$aqua: #50E3C2;
$red: #d0011b;
$placeholder: #aaa;
$background: #eff2f5;
$yellow: #f8bb86;
$player-grey: #f7f7f7;

$font-stack: 'Avenir Next', 'Avenir', 'Lato', 'Helvetica', 'Arial', 'Sans-Serif';

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin boxshadow {
  -webkit-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  -moz-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
}

@mixin boxShadowResting {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin boxShadow {
  -webkit-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  -moz-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
}

@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin browserFlex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin justifyCenter {
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin alignCenter {
  -webkit-align-items: center;
  align-items: center;
}

@mixin titleStyles {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 22px;
  color: $text-black;
}

@mixin genreStyles {
  line-height: 1.4;
  font-size: 14px;
  font-family: $font-stack;
  color: #999;
  font-weight: 500;
}

@mixin greenButton {
  height: 40px;
  width: 90px;
  background-color: $green;
  border: none;
  color: #fff;
  border-radius: 3px;
  font-family: $font-stack;
  font-weight: 500;
  padding: 0;
  // margin: 0;
  font-size: 14px;
  transition: all 75ms ease-out;
  &:hover {
    cursor: pointer;
    background-color: lighten($green, 5%);
  }
  &:focus {
    outline: none;
  }
}
