$black: #2D2E2F;
// $blue: #1596F5;  // original one
$blue: #0089EE;
$light-blue: #34bfed;
$darker-black: #1E2325;
$light-grey: #e4e4e4;
$border-color: #424242;
$text-black: #46484A;
$royal: #375b74;
$green: #43AC6A;
$aqua: #50E3C2;
$red: #d0011b;
$background: #eff3f5;

$font-stack: 'Avenir Next', 'Avenir', 'Lato', 'Helvetica', 'Arial', 'Sans-Serif';

$breakpoint-small: 768px;
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;

@mixin boxshadow {
  -webkit-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  -moz-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
}

@mixin boxShadow {
  -webkit-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  -moz-box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
  box-shadow: 2px 1px 6px 0 rgba(200,200,200,0.50);
}

@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin browserFlex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin justifyCenter {
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin alignCenter {
  -webkit-align-items: center;
  align-items: center;
}

@mixin titleStyles {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 22px;
  color: $text-black;
}

@mixin genreStyles {
  line-height: 1.4;
  font-size: 14px;
  font-family: $font-stack;
  color: #999;
  font-weight: 500;
}
