body {
  background-color: #f1f1f1;
}

.page-contaier {
  display: flex;
  width: 1080px !important;
  margin: 0 auto !important;
  position: relative;
  padding: 0 24px;
  justify-content: space-between;
  align-items: center;
}
