$placeholder: #a1a1a1;
$faded-placeholder: #C9C9C9;
$font-stack: 'Open Sans', 'Avenir Next', sans-serif;


.header-search {
  display: flex;
  flex: 1;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 35px;
  border-radius: 2px;
  font-weight: 400;
  border-style: none;
  font-size: 14px;
  color: #4d4d4d;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  font-family: $font-stack;
  padding-left: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  &:focus {
    outline-offset: none;
    outline-style: none;
    border: none
  }
  margin: 0;
}

.icon-container {
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 2px;
  padding-left: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  &:hover {
    cursor: pointer;
  }
}


input::-webkit-input-placeholder {
  color: $placeholder;
}
input:focus::-webkit-input-placeholder {
  color: $faded-placeholder;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: $placeholder;
}
input:focus:-moz-placeholder {
    color: $faded-placeholder;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: $placeholder;
}
input:focus::-moz-placeholder {
  color: $faded-placeholder;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: $placeholder;
}
input:focus:-ms-input-placeholder {
  color: $faded-placeholder;
}
