$header-black: #2D2E2F;
// $header-black: #195580;
// $header-black: #FDFEFF;
$logo-blue: #1596F5;

.header-con {
  width: 100%;
  height: 50px;
  clear: both;
  // padding-bottom: 50px;
  background-color: $header-black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.20);
  z-index: 1;
}

.bell, .comments {
  margin-right: 5px;
}

.header {
  // height: 50px;
  width: 1190px;
  display: flex;
  background-color: $header-black;
  // position: fixed;
  // -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  // -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  // box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.46);
  align-items: center;
  flex-direction: row;
}


.header-left-section {
  width: auto;
  padding-left: 10px;
  margin-right: 10px;
  // background-color: red;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .tunebay-logo {
    height: 30px;
    width: auto;
  }
}

.header-link {
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  width: 90px;
  text-decoration: none;
  color: #D8D8D8;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Avenir Next', sans-serif;
  vertical-align: center;
  &:hover, &:focus {
    color: #fff;
    // background-color: darken($header-black, 5%);
  }
}

.header-search-section {
  width: 530px;
  max-width: 550px;
  // background-color: yellow;
  margin-right: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-control-section {
  width: 350px;
  // background-color: purple;
  height: 50px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  color: #747474;
}

.pipe {
  width: 2px;
  border-left: 2px solid #585454;
  height: 20px;
}

.header-avatar {
  height: 30px;
  border-radius: 25%;
  width: 30px;
  margin-right: 10px;
  background-color: #e1e1e1;
  &:hover {
    cursor: pointer;
  }
}

.avatar-section {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
}

.display-name {
  margin-right: 5px;
  color: #D8D8D8;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Avenir Next', sans-serif;
  vertical-align: center;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.control-icons {
  width: 160px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.control-icon {
  color: #D8D8D8;
  font-size: 20px;
  margin: 5px;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.control-spacer {
  width: 50px;
  height: 50px;
}

@media (max-width: 1230px) {
  .header {
    width: 890px;
  }
  .header-search-section {
    width: 340px;
  }
}
