@import "../../../variables";

.signup-form-page {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-black;
  font-family: $font-stack;
  .hr {
    width: 380px;
    border-bottom: 1px solid $light-grey;
    height: 0px;
    margin: 20px 0;
  }
  .signup-button {
    width: 380px;
    height: 65px;
    background-color: $green;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      background-color: desaturate($green, 10%);
      cursor: pointer;
    }
  }
  .signup-password {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .field-info {
      font-size: 14px;
      margin: 0;
      padding-bottom: 10px;
    }
    .password-label {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .signup-password-input {
      @include borderBox;
      color: $text-black;
      font-family: $font-stack;
      width: 380px;
      height: 45px;
      border: 1px solid $light-grey;
      border-radius: 3px;
      font-size: 16px;
      padding-left: 15px;
      font-weight: 500;
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }
    .input-error {
      border: 1px solid $red;
      &:focus {
        outline: none;
        border: 1px solid $red;
      }
    }
  }
  .signup-phone {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .field-info {
      font-size: 14px;
      margin: 0;
      padding-bottom: 10px;
    }
    .username-label {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .signup-username-input {
      @include borderBox;
      color: $text-black;
      font-family: $font-stack;
      width: 380px;
      height: 45px;
      border: 1px solid $light-grey;
      border-radius: 3px;
      font-size: 16px;
      padding-left: 15px;
      font-weight: 500;
    }
  }
}
