@import "../../variables";

.player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  bottom: 0;
  position: fixed;
  background-color: rgba(246,246,246,1);
  // -webkit-filter: blur(10px);
  // -moz-filter: blur(10px);
  // -o-filter: blur(10px);
  // -ms-filter: blur(10px);
  // filter: blur(10px);

  .player-content {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .player-left {
      display: flex;
      flex-direction: row;
      width: 380px;
      // background-color: red;
      align-items: center;
      line-height: 1.4;

      .playback-controls {
        margin-left: 10px;
        margin-top: 2px;
        display: flex;
        align-items: center;
        flex-direction: row;
        color: $black;
        .icon-div {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          .player-icon {
            color: $text-black;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .repeat-icon {
          width: 100px;
        }
      }

      .elapsed-time {
        margin-top: 2px;
        width: 70px;
        font-family: $font-stack;
        color: $text-black;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .player-artwork {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 53px;
        padding: 0;
        margin: 0;
        background-image: linear-gradient(45deg, #34BFED 0%, #8fc1fd 96%, #8fc1fd 100%);
        .fa-music {
          color: #fff;
          opacity: 0.8;
        }
      }
    }

    .player-center {
      height: 20px;
      width: 100%;
      min-width: 100px;
      font-family: $font-stack;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      color: $text-black;
      overflow: hidden;
      .seperator {
        padding: 5px;
      }
      .playing-artist {
        color: $blue;
        font-weight: 400;
      }
    }

    .player-right {
      height: 50px;
      width: 380px;
      // background-color: purple;
      display: flex;
      flex-direction: row;
      align-items: center;
      .full-time {
        margin-top: 2px;
        width: 80px;
        font-family: $font-stack;
        color: $text-black;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .buy {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .buy-btn {
          width: 90px;
          height: 30px;
          background-color: $blue;
          color: #fff;
          border: none;
          font-family: $font-stack;
          font-weight: 500;
          font-size: 14px;
          border-radius: 3px;
          outline: none;
          transition: all 50ms ease-in;
          &:hover {
            cursor: pointer;
            background-color: darken($blue, 10%);
          }
        }
      }
      .volume {
        width: 200px;
        // background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 15px;
        .icon {
          color: $text-black;
        }
        .volume-up {
          padding-right: 20px;
        }
        .slider {
          height: 5px;
          width: 110px;
          border-radius: 50%;
          background-color: red;
        }
      }
    }
  } // player-content

  //////////////////// Progress bar ///////////
  .ProgressBar,
  .VolumeSlider {
    position: relative;
    background: $light-grey;
    // border-radius: 4px;

    &-elapsed,
    &-value {
      background: $light-grey;
      // border-radius: 4px;
    }

    &-seek {
      position: absolute;
      cursor: pointer;
    }

    &-handle {
      position: absolute;
      width: 11px;
      height: 11px;
      background: $blue;
      border-radius: 100%;
      transform: scale(0);
      transition: transform 0.2s;
    }

    &.isSeekable,
    &.isEnabled {
      &:hover {
        .ProgressBar-handle,
        .VolumeSlider-handle {
          transform: scale(1);
        }

        .ProgressBar-intent,
        .VolumeSlider-intent {
          position: absolute;
          background: rgba(0,0,0,0.05);
        }
      }

      .ProgressBar-elapsed,
      .VolumeSlider-value {
        background: $blue;
      }
    }
  }

  .ProgressBar {
    height: 4px;
    margin: 0;

    &-elapsed {
      height: 100%;
    }

    &-seek {
      top: -6px;
      right: 0;
      bottom: -6px;
      left: 0;
    }

    &-handle {
      top: 0;
      margin: -4px 0 0 -8px;
    }

    &.isSeekable {
      &:hover {
        .ProgressBar-handle {
          transform: scale(1);
        }

        .ProgressBar-intent {
          top: 0;
          left: 0;
          height: 100%;
        }
      }
    }

    &.isLoading {
      opacity: 0.5;
      background: #ccc;
      animation: barLoading 2s infinite;
    }
  }

  .VolumeSlider {
    width: 110px;
    height: 5px;
    // margin: 10px 0;

    &-value {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &-seek {
      left: -6px;
      top: 0;
      right: -6px;
      bottom: 0;
    }

    &-handle {
      left: 0;
      margin: 0 0 -8px -4px;
    }

    &.isEnabled {
      &:hover {
        .VolumeSlider-handle {
          transform: scale(1);
        }

        .VolumeSlider-intent {
          bottom: 0;
          left: 0;
          width: 100%;
        }
      }
    }
    }
}
