@import "../../variables";

#player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 48px;
  bottom: 0;
  position: fixed;
  background-color: rgba(246,246,246,1);
  animation: slideUp 300ms ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
