@import "../../variables";

.player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  bottom: 0;
  position: fixed;
  background-color: #f7f7f7;

  .player-content {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .now-playing {
      display: flex;
      flex-direction: row;
      width: auto;
      align-items: center;
      line-height: 1.4;

      .player-artwork {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        padding: 0;
        margin: 0;
        background-image: linear-gradient(45deg, #34BFED 0%, #8fc1fd 96%, #8fc1fd 100%);
        .fa-music {
          color: #fff;
          opacity: 0.8;
        }
      }

      .now-playing-text {
        padding-left: 10px;
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        color: $text-black;
        font-family: $font-stack;
        font-size: 14px;
        line-height: 1.3;
        .playing-track {
          font-weight: 600;
        }
        .playing-artist {
          font-weight: 400;
        }
      }
    }

    .playback-controls {
      display: flex;
      width: 150px;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      .player-control {
        color: $text-black;
        transition: all 100ms ease-in;
        &:hover {
          cursor: pointer;
          // color: $blue;
        }
      }
    }

  } // player-content

  //////////////////// Progress bar ///////////
  .ProgressBar,
  .VolumeSlider {
    position: relative;
    background: $light-grey;
    // border-radius: 4px;

    &-elapsed,
    &-value {
      background: $light-grey;
      // border-radius: 4px;
    }

    &-seek {
      position: absolute;
      cursor: pointer;
    }

    &-handle {
      position: absolute;
      width: 11px;
      height: 11px;
      background: $blue;
      border-radius: 100%;
      transform: scale(0);
      transition: transform 0.2s;
    }

    &.isSeekable,
    &.isEnabled {
      &:hover {
        .ProgressBar-handle,
        .VolumeSlider-handle {
          transform: scale(1);
        }

        .ProgressBar-intent,
        .VolumeSlider-intent {
          position: absolute;
          background: rgba(0,0,0,0.05);
        }
      }

      .ProgressBar-elapsed,
      .VolumeSlider-value {
        background: $blue;
      }
    }
  }

  .ProgressBar {
    height: 4px;
    margin: 0;

    &-elapsed {
      height: 100%;
    }

    &-seek {
      top: -6px;
      right: 0;
      bottom: -6px;
      left: 0;
    }

    &-handle {
      top: 0;
      margin: -4px 0 0 -8px;
    }

    &.isSeekable {
      &:hover {
        .ProgressBar-handle {
          transform: scale(1);
        }

        .ProgressBar-intent {
          top: 0;
          left: 0;
          height: 100%;
        }
      }
    }

    &.isLoading {
      opacity: 0.5;
      background: #ccc;
      animation: barLoading 2s infinite;
    }
  }
}
