@import "../../../../styles/variables";

.artwork {
  // background-color: $light-grey;
  height: 100%;
  @include borderBox;
  // padding-left: 100%;
  // width: 200px;
  // padding: 20px;
  // margin: 16px;
  // border-radius: 4px;
  .artwork-image {
    @include borderBox;
    height: 100%;
    width: auto;
    // padding: 16px;
    border-radius: 5px;
    // padding-bottom: 100%;
    // background-color: $light-grey;
  }
}

.artwork-placeholder {
  @include browserFlex;
  @include borderBox;
  background-color: $light-blue;
  height: 100%;
  width: auto;
  border-radius: 5px;
  // padding-left: 100%;
  .placeholder-text {
    @include browserFlex;
    width: 100%;
    // letter-spacing: 1.4;
    text-align: center;
  }
}
