@import "../../../../styles/variables";

.artwork {
  // background-color: $light-grey;
  height: 100%;
  @include borderBox;
  // padding-left: 100%;
  // width: 200px;
  // padding: 20px;
  // margin: 16px;
  border-radius: 5px;
  .artwork-image {
    @include boxShadowResting;
    @include borderBox;
    height: 100%;
    width: auto;
    // padding: 16px;
    border-radius: 5px;
    // padding-bottom: 100%;
    // background-color: $light-grey;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      cursor: pointer;
    }
  }
}

.artwork-placeholder {
  @include browserFlex;
  @include borderBox;
  background-color: $light-blue;
  @include boxShadowResting;
  height: 100%;
  width: auto;
  border-radius: 5px;
  // padding-left: 100%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;
  }
  .placeholder-text {
    @include browserFlex;
    width: 100%;
    // letter-spacing: 1.4;
    text-align: center;
  }
}
