@import "../../../../styles/variables";

#detail-section {
  @include browserFlex;
  width: calc(100% - 330px);
  height: 20vw;
  background-color: white;
  border-radius: 5px;
  @include boxShadow;
  #artwork-con {
    padding: 20px;
    border-radius: 3px;
    #artwork {
      @include borderBox;
      height: 100%;
      width: auto;
      // padding: 16px;
      border-radius: 4px;
      // padding-bottom: 100%;
      // background-color: $light-grey;
    }
  }
}
