@import "../../../../styles/variables";

#menu-nav {
  @include browserFlex;
  flex-direction: row;
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  list-style: none;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: 500;
  word-spacing: 2px;
  // letter-spacing: 0.3px;
  color: lighten($text-black, 10%);
  // background-color: white;
  border-bottom: 1px solid #dddddd;
  transition: all 75ms ease-out;
  .menu-nav-item {
    display: block;
    text-align: center;
    // @include browserFlex;
    // @include justifyCenter;
    color: lighten($text-black, 10%);
    // border-radius: 10px;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 125px;
    // &:hover {
    //   color: $text-black;
    //   border-bottom: 2px solid $blue;
    // }
  }
  .menu-nav-item::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 8px;
    border-radius: 500px;
    height: 2px;
    background: $blue;
    transition: width .2s;
  }
  .menu-nav-item:hover::after {
    width: 100%;
    //transition: width .3s;
  }

  .active {
    color: $text-black;
  }

  .active::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 8px;
    border-radius: 500px;
    height: 2px;
    background: $blue;
    transition: width .2s;
    // border-bottom: 3px solid $blue;
    // stroke-linecap: round;
  }
}
