@import "../../../../styles/variables";

.profile-nav {
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
  flex-direction: row;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px 1px -3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px -3px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 1px -3px 0px rgba(0,0,0,0.4);
  // position: fixed;
  // top: 60px;
  background-color: white;
  border-bottom: 3px solid $light-grey;
  #nav-content {
    margin: 0 30px;
    @include browserFlex;
    @include alignCenter;
    flex-direction: row;
    width: 1140px;
    flex-grow: 0.5;
    min-width: calc($breakpoint-medium - 60px);
    // background-color: red;
    .profile-nav-link {
      font-weight: 500;
      font-family: $font-stack;
      color: $text-black;
      font-size: 14px;
      padding-right: 50px;
      &:hover {
        cursor: pointer;
      }
    }
    .profile-nav-link-active {
      @include browserFlex;
      @include justifyCenter;
      @include alignCenter;
      @include borderBox;
      text-align: center;
      font-weight: 500;
      width: 50px;
      height: 28px;
      font-family: $font-stack;
      color: white;
      background-color: $blue;
      border-radius: 500px;
      font-size: 14px;
      margin-right: 50px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.fixed-nav {
  position: fixed;
  top: 48px;
  clear: both;
}
