@import "../../../../styles/variables";

.profile-nav {
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
  flex-direction: row;
  height: 8px;
  width: 100%;
  z-index: 99;
  background-color: white;
  @include boxShadowResting;
}

.fixed-nav {
  position: fixed;
  top: 48px;
  z-index: 98;
  clear: both;
}
