@import "../../../../styles/variables";

#playlists-section {
  @include browserFlex;
  width: calc(100% - 330px);
  height: auto;
  // background-color: red;
  #user-playlists {
    @include browserFlex;
    flex-direction: column;
    width: 100%;
    height: auto;
    // background-color: blue;
    list-style: none;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    .playlist-display {
      @include browserFlex;
      @include alignCenter;
      @include borderBox;
      @include boxShadow;
      flex-direction: row;
      background-color: white;
      width: 100%;
      height: 20vw;
      margin-bottom: 24px;
      padding: 16px;
      border-radius: 5px;
      .artwork {
        // background-color: $light-grey;
        height: 100%;
        @include borderBox;
        // padding-left: 100%;
        // width: 200px;
        // padding: 20px;
        // margin: 16px;
        border-radius: 3px;
        .artwork-image {
          @include borderBox;
          height: 100%;
          width: auto;
          // padding: 16px;
          border-radius: 4px;
          // padding-bottom: 100%;
          // background-color: $light-grey;
        }
      }
      .playlist-details {
        // background-color: blue;
        font-family: $font-stack;
        font-weight: 700;
        color: $text-black;
        font-size: 22px;
        padding-left: 16px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
