@import "../../../../styles/variables";

.side-content-item {
  height: auto;
  margin-bottom: 16px;
  border-radius: 8px;
  width: 100%;
  background-color: white;
  @include borderBox;
  @include boxShadow;
  padding: 22px;
  .item-title {
    font-weight: 600;
    font-family: $font-stack;
    font-size: 18px;
    color: #999;
    padding-bottom: 8px;
    .bullet {
      font-size: 14px;
    }
  }
  .promoted-playlist {
    @include browserFlex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding-top: 12px;

    .artwork-con {
      height: 100px;
      width: 100px;
      background-color: $light-grey;
      border-radius: 3px;
      .artwork {
        height: 100%;
        width: auto;
        border-radius: 3px;
      }
    }
    .playlist-details {
      @include browserFlex;
      @include justifyCenter;
      @include alignCenter;
      // justify-conten;
      flex-direction: column;
      width: calc(100% - 100px);
      height: 100px;
      // background-color: gold;
      font-weight: 500;
      font-family: $font-stack;
      font-size: 14px;
      color: $text-black;
      text-align: center;
      .artist {
        color: $blue;
        padding-bottom: 8px;
        font-weight: 400;
      }
      .title {
        padding-bottom: 8px;
      }
    }
  }
}
