@import "../../variables.scss";

.banner-modal {
  outline: none;
  animation: slideDown 300ms ease-out;
  &focus {
    outline: none;
  }
  top: 50;
  // height: 50px;
  position: fixed;
  width: 100%;
  @include borderBox;
  @include browserFlex;
  @include alignCenter;
  padding-bottom: 50px;
  .banner {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    font-family: $font-stack;
    font-weight: 500;
    &focus {
      outline: none;
    }
    @include browserFlex;
    @include alignCenter;
    @include borderBox;
    justify-content: space-between;
    padding: 0 80px;
    height: 50px;
    width: 100%;
    min-width: $breakpoint-medium;
    background-color: $red;
    .banner-left {
      @include browserFlex;
      @include alignCenter;
      @include borderBox;
      flex-direction: row;
      .banner-icon {
        padding-right: 16px;
      }
    }
  }
}

.banner-overlay {
  &focus {
    outline: none;
  }
  top: 50px;
  position: absolute;
  // height: 50px;
}

.ReactModal__Body--open {
    overflow: scroll;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
