$logo-blue: #1596F5;
$font-stack: 'Avenir Next', sans-serif;

.price-pill {
  margin-left: 10px;
  background-color: $logo-blue;
  min-width: 65px;
  width: auto;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  .price-pill-text {
    display: flex;
    padding-top: 2px;
    align-items: baseline;
    line-height: 1.4;
    justify-content: center;
    color: #fff;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 13px;
  }
}

.pill-button {
  margin-left: 0;
  background-color: transparent;
  border: 1px solid $logo-blue;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: $logo-blue;
    cursor: pointer;
  }
  .price-pill-text {
    color: $logo-blue;
  }
}
