@import "../../variables.scss";

.price-pill {
  margin-left: 10px;
  background-color: $blue;
  min-width: 65px;
  max-width: 100px;
  width: 65px;
  height: 20px;
  @include browserFlex;
  align-items: center;
  display: inline-flex;
  outline: none;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 100px;
  transition: all 75ms ease-out;
  .price-pill-text {
    display: flex;
    padding: 0;
    align-items: center;
    line-height: 1.4;
    justify-content: center;
    color: #fff;
    font-family: $font-stack;
    font-weight: 500;
    font-size: 12px;
  }
  &:hover {
    background-color: darken($blue, 5%);
    cursor: pointer;
  }
}

.pill-button {
  margin-left: 0;
  background-color: transparent;
  border: 1px solid $blue;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: $blue;
    cursor: pointer;
  }
  .price-pill-text {
    color: $blue;
  }
}
