.hub-side-nav {
  height: 100%;
  background-color: #fff;
  width: 270px;
  margin: 0;
  float: left;
  position: fixed;
  flex-flow: column;
  border-right: 1px solid #e1e1e1;
  // -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
  // -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
  // box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}
