.hub-container {
  display: flex;
  background-color: red;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;
  padding-top: 50px;
}
//
.hub-content {
  display: flex;
  width: 100%;
  height: auto;
  background-color: blue;
  margin-left: 262px;
  justify-content: center;
}

.hub-content-wrapper {
  width: 1080px;
  height: auto;
  background-color: white;
}

.long-content {
  height: 1000px;
  width: 500px;
  background-color: green;
}
