$background: #EFF3F5;

.hub-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;
}
//
.hub-content {
  display: flex;
  width: 100%;
  height: auto;
  background-color: $background;
  margin-left: 270px;
  justify-content: center;
}

.hub-content-wrapper {
  width: 1080px;
  height: auto;
  background-color: $background;
  // background-color: red;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1350px) {
  .hub-content-wrapper {
    width: 820px;
  }
}

.hub-header {
  height: 60px;
  background-color: $background;
  display: flex;
  align-items: center;
  float: right;
  width: 100%;
  margin-left: 263px;
  border-bottom: 1px solid #d3d3d3;
  // -webkit-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.25);
  // -moz-box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.25);
  // box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.25);
  // position: fixed;
}

.hub-title {
  padding-left: 30px;
  color: #4a4a4a;
  font-weight: 500;
  font-family: 'Avenir Next';
  font-size: 20px;
}

.hide {
  display: none;
}
