$black: #252C30;
$logo-blue: #1596F5;
$placeholder: #a1a1a1;
$e4: #e4e4e4;
$light-blue: #34bfed;
$font-stack: 'Avenir Next', sans-serif;

.title-field {
  margin: 5px 0px;
  input {
    height: 40px;
    width: 510px;
    border-radius: 3px;
    font-size: 16px;
    border-color: #D4D4D4;
    border-width: 1px;
    font-weight: 400;
    border-style: solid;
    font-family: $font-stack;
    color: $black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding-left: 10px;
    &:focus {
      outline: none;
    }
    margin: 5px 0px;
  }
}

.playlist-type-field {
  margin: 5px 0px;
  margin-right: 10px;
  .upload-dropdown {
    margin: 5px 0px;
    width: 250px;
    font-family: $font-stack;
  }
}
.permalink-field {
  margin: 5px 0px;
  .permalink-field-zone {
    text-decoration: underline;
    color: $logo-blue;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Avenir Next';
    font-weight: 500;
    .permalink-input {
      height: 40px;
      width: 20px;
      text-decoration: none;
      color: $black;
      margin-right: 10px;
      font-family: $font-stack;
      border-radius: 3px;
      font-size: 16px;
      border: none;
      color: $black;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      padding-left: 15px;
      &:focus {
        outline: none;
        border-style: solid;
        border-color: #D4D4D4;
        border-width: 1px;
      }
    }
  }
}

.tags-field {
  margin: 5px 0px;
  margin-right: 10px;
  .upload-dropdown {
    margin: 5px 0px;
    font-family: $font-stack;
  }
}

.description-field {
  margin-top: 10px;
  textarea {
    height: 100px;
    width: 510px;
    border-radius: 3px;
    font-size: 16px;
    border-color: #D4D4D4;
    line-height: 20px;
    border-width: 1px;
    font-weight: 400;
    resize: none;
    border-style: solid;
    font-family: $font-stack;
    color: $black;
    // think about mixin
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
    &:focus {
      outline: none;
    }
    margin-top: 10px;
  }
}

.price-field {
  margin-top: 10px;
  .upload-price-input-zone {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      border-radius: 3px;
      font-size: 18px;
      border-color: #D4D4D4;
      line-height: 20px;
      border-width: 1px;
      font-weight: 500;
      padding-left: 10px;
      height: 40px;
      width: 100px;
      font-family: $font-stack;
      color: $black;
      border-style: solid;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
      &:focus {
        outline: none;
      }
    }
    .currency-symbol{
      height: 44px;
      width: 40px;
      color: #fff;
      background-color: $logo-blue;
      border-width: 1px;
      border-color: $logo-blue;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      display: flex;
      font-size: 18px;
      font-weight: 600;
      align-items: center;
      justify-content: center;
    }
    .pricing-guide {
      background:none!important;
      border:none;
      padding:0!important;
      font: inherit;
      color: $light-blue;
      margin-left: 10px;
      font-family: $font-stack;
      font-size: 14px;
      /*border is optional*/
      // border-bottom:1px solid #444;
      cursor: pointer;
    }
  }
}

.uploaded-genres {
  color: #686D72;
  font-family: $font-stack;
  font-size: 16px;
  font-weight: 500;
}

.upload-label {
  font-size: 17px;
  font-family: 'Avenir Next';
  font-weight: 500;
  color: #4A4A4A;
  span {
    color: #D0011B;
  }
}
