.uploaded-track {
  height: 60px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  list-style: none;
  width: 100%;
}

.uploaded-track-con {
  padding: 0px;
  margin: 0px;
  background-color: grey;
}
