@import "../../../../../styles/_variables.scss";

.playlist-detail-page {
  @include browserFlex;
  flex-direction: row;
  height: auto;
  margin-top: 4px;
  width: 100%;
  min-height: 80vh;
  .left-col {
    width: 260px;
    height: auto;
    @include browserFlex;
    flex-direction: column;
    .artwork-con {
      height: 260px;
      width: 260px;
      border-radius: 5px;
      .artwork {
        @include boxShadowResting;
        height: 100%;
        width: auto;
        border-radius: 5px;
        animation: grow 300ms ease-out;
        &:hover {
          @include boxShadow;
          cursor: pointer;
        }
      }
    }
    .buy-btn {
      margin: 18px 0;
      width: 100%;
      height: 42px;
      background-color: $green;
      border: none;
      border-radius: 500px;
      outline: none;
      color: white;
      font-family: $font-stack;
      font-weight: 600;
      font-size: 16px;
      transition: all 100ms ease-out;
      &:hover {
        cursor: pointer;
        background-color: darken($green, 5%);
        transform: scale(0.99);
      }
    }
    .supporting-this {
      padding: 18px 0;
      width: 100%;
      // background-color: #ddd;
      border-top: 1px solid #ddd;
      // background-color: white;
      height: 180px;
      .title {
        font-weight: 600;
        font-family: $font-stack;
        font-size: 16px;
        color: #999;
        padding-bottom: 8px;
        .bullet {
          font-size: 12px;
        }
      }

    }
  }

  .right-col {
    width: calc(100% - 250px);
    @include browserFlex;
    flex-direction: column;
    height: auto;
    margin-left: 24px;
    // background-color: red;
    .play-btn-title-con {
      // margin-top: 8px;
      @include browserFlex;
      @include alignCenter;
      flex-direction: row;
      height: 42px;
      width: 100%;
      // background-color: gold;
      .btn-span-wrapper {
        border: none;
        background-color: $background;
        height: 42px;
        width: 42px;
        margin: 0;
        padding: 0;
        outline: none;
        .play-btn {
          @include browserFlex;
          @include alignCenter;
          @include justifyCenter;
          height: 42px;
          width: 42px;
          outline: none;
          // border: 3px solid #d4ebfd;
          border: none;
          border-radius: 100%;
          background-color: $blue;
          transition: all 100ms ease-in;
          &:hover {
            background-color: darken($blue, 5%);
            cursor: pointer;
            transform: scale(0.95);
            // border: 3px solid #d4ebfd;
          }
          .play {
            width: 17px;
            height: 17px;
            // margin-left: 2px;
          }
        }
      }
      .playlist-title {
        font-size: 24px;
        padding: 0 12px;
        max-width: 500px;
        text-overflow: ellipsis;
        color: $text-black;
        font-weight: 700;
        font-family: $font-stack;
        transition: all 100ms ease-in;
      }
      .playlist-dots:hover {
        transform: scale(0.95);
        cursor: pointer;
      }
    }
  }
}

@keyframes grow {
  0% {
    opacity: 0.8;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
