@import "../../../../../styles/_variables.scss";

.playlist-tracklist {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
  // table-layout: fixed;
  vertical-align: middle;
  border-collapse: collapse;
  margin-top: 24px;
  .thead {
    .tr {
      .th {
        // @include browserFlex;
        // flex-direction: row;
        height: 42px;
        font-size: 12px;
        color: #7b7b7b;
        background-color: #eaeaea; //#efefef;
        // border-radius: 3px;
        padding: 0;
        margin: 0;
        margin-bottom: 8px;
        // border-top: 1px solid #ddd;
        font-family: $font-stack;
        font-weight: 500;
        // list-style: none;
      }
      .price {
        width: 100px;
      }
      .header-position {
        text-align: center;
        max-width: 60px;
        padding: 2px;
        // min-width: 30px;
        color: #999;
        transition: all 100ms ease-out;
      }
    }
  }
  .tbody {
    .tr {
      transition: all 100ms ease-out;
      &:hover {
        // background-color: blue;
        transform: scale(1.005);
        cursor: pointer;
        @include boxShadow;
      }
      // border-radius: 5px;
      @include borderBox;
      height: 42px;
      vertical-align: middle;
      // padding: 12px;
      margin: 0;
      border-radius: 5px;
      margin-bottom: 8px;

      text-align: left;
      background-color: #fff;
      .td {
        // display: block;
        // border-radius: 5px;
        word-wrap: break-word;
        vertical-align: center;
        margin-bottom: 8px;
        // border-top: 5px solid $background;
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: $font-stack;
        font-weight: 500;
        color: $text-black;
      }
      .position {
        text-align: center;
        max-width: 60px;
        // padding: 2px;
        // min-width: 30px;
        width: 8%;
        color: #959595;
      }
      .duration {
        color: $text-black;
      }
      .price {
        width: 100px;
        word-wrap: break-word;
        color: $text-black;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
}

tbody:before {
  content: "-";
  display: block;
  line-height: 8px;
  color: transparent;
}

.playlist-tracklist {
  .tbody {
    .tr-odd {
      background-color: $background;
    }
  }
}
