@import "../../../../../styles/_variables.scss";

.playlist-tracklist {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
  text-align: left;
  // table-layout: fixed;
  vertical-align: middle;
  border-collapse: collapse;
  .thead {
    .tr {
      .th {
        // @include browserFlex;
        // flex-direction: row;
        height: 18px;
        font-size: 12px;
        color: #999;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #ddd;
        // border-top: 1px solid #ddd;
        font-family: $font-stack;
        font-weight: 400;
        // list-style: none;
      }
      .price {
        width: 100px;
      }
    }
  }
  .tbody {
    .tr {
      height: 34px;
      vertical-align: middle;
      border-bottom: 1px solid #ddd;
      // padding: 12px;
      margin: 0;
      text-align: left;
      .td {
        // display: block;
        word-wrap: break-word;
        vertical-align: center;
        padding: 0;
        margin: 0;
        font-size: 14px;
        font-family: $font-stack;
        font-weight: 500;
        color: $text-black;
      }
      .position {
        text-align: center;
        max-width: 10px;
        color: #999;
      }
      .duration {
        color: #606468;
      }
      .price {
        width: 100px;
        word-wrap: break-word;
        color: $bluey-grey;
        font-weight: 500;
        font-size: 13px;
      }
    }
  }
}
