@import "../../../variables";

.music-tab-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.playlist-display {
  @include boxshadow;
  width: 100%;
  background-color: #fff;
  height: 280px;
  border-radius: 2px;
  margin-bottom: 20px;
  .artwork-detail-con {
    display: flex;
    flex-direction: row;
    padding: 10px;
    .artwork {
      height: 260px;
      width: 260px;
      // padding: 10px;
      background-color: #e1e1e1;
    }
  }
}
