@import "../../../variables";

.track-list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  // height: auto;
  overflow: scroll;
}

.track-headers {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  font-size: 14px;
  font-family: $font-stack;
  color: $text-black;
  border-bottom: 1px solid $light-grey;
  #name {
    padding-left: 50px;
  }
  #time {
    padding-left: 550px
  }
  #buy {
    padding-left: 45px;
  }
}
