@import "../../../variables";

.track-container {
  height: 45px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-family: $font-stack;
  font-size: 14px;
  color: $text-black;
  .track-position {
    color: #999;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .track-name {
    width: 589px;
  }
  .track-duration {
    width: 75px;
  }
  .track-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90px;
    color: #999;
  }

}

.odd-track {
  background-color: #f7f7f7;
}

.even-track {
  background-color: #fff;
}
