@import "../../variables";

.basic-info-page {
  @include boxShadow;
  @include browserFlex;
  // @include alignCenter;
  @include borderBox;
  // @include justifyCenter;
  // padding: 20px;
  margin-top: 50px;
  width: 810px;
  height: auto;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;

  .multi-form-details {
    border-bottom: 1px solid $light-grey;
  }

  .playlist-details {
    padding: 20px;
    width: 100%;
    flex-direction: row;
    @include browserFlex;
    @include borderBox;
    .field-section {
      // background-color: red;
      @include browserFlex;
      @include borderBox;
      height: auto;
      width: 100%;
      color: $text-black;
      font-family: $font-stack;
      padding-left: 20px;
      flex-direction: column;

      .field-label {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 5px;
        .required {
          color: $red;
        }
      }

      .field-error {
        color: $red;
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
      }

      .title-field {
        @include browserFlex;
        flex-direction: column;
        padding-bottom: 10px;
        .title-field-input {
          @include borderBox;
          color: $text-black;
          font-family: $font-stack;
          height: 38px;
          border: 1px solid $light-grey;
          border-radius: 3px;
          font-size: 16px;
          line-height: 38px;
          padding-left: 10px;
          font-weight: 500;
          &:focus {
            outline: none;
            border: 1px solid #ccc;
          }
        }
        .input-error {
          border: 1px solid $red;
          border-radius: 3px;
          &:focus {
            outline: none;
            border: 1px solid $red;
            border-radius: 3px;
          }
        }
      }

      .playlist-type-release-date {
        @include browserFlex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 15px;

        .playlist-type-field {
          width: 49%;
          @include browserFlex;
          flex-direction: column;
          .playlist-type-field-select {
            @include borderBox;
            color: $text-black;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 400;
            font-family: $font-stack;
            width: 100%;
            background-color: #fff;
            line-height: 38px;
            border-radius: 3px;
            height: 38px;
            border: 1px solid $light-grey;
            .playlist-option {
              color: $text-black;
              font-family: $font-stack;
            }
            &:disabled {
              background-color: #999;
              color: #ccc;
            }
            &:focus {
              outline: none;
              border: 1px solid #ccc;
            }
            .input-error {
              border: 1px solid $red;
              border-radius: 3px;
              .Select-control {
                border: none;
                height: 38px;
              }
              &:focus {
                outline: none;
                border: 1px solid $red;
                border-radius: 3px;
              }
            }
          }
        }

        .release-date-field {
          width: 49%;
          @include browserFlex;
          flex-direction: column;
          .date-picker-input {
            @include borderBox;
            color: $text-black;
            font-family: $font-stack;
            padding-left: 10px;
            line-height: 40px;
            border-radius: 3px;
            font-weight: 400;
            height: 40px;
            border: 1px solid $light-grey;
            width: 240px;
            letter-spacing: 0.4px;
            &:focus {
              outline: none;
              border: 1px solid #ccc;
            }
          }
        }
      }

      .genre-field {
        @include browserFlex;
        width: 100%;
        flex-direction: column;
        height: 38px;
        .input-error {
          border: 1px solid $red;
          border-radius: 3px;
          .Select-control {
            border: none;
            height: 38px;
          }
          &:focus {
            outline: none;
            border: 1px solid $red;
            border-radius: 3px;
          }
        }
      }

      .permalink-field {
        font-size: 14px;
        font-family: $font-stack;
        color: #999;
        font-weight: 500;
        @include browserFlex;
        // @include alignCenter;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 15px;
        width: 100%;
        .permalink-zone {
          @include browserFlex;
          @include alignCenter;
          height: 24px;
          width: 100%;
          flex-direction: row;
          .permalink-field-input {
            padding-bottom: 3px;
            width: 100%;
            height: 24px;
            border: none;
            color: $text-black;
            font-weight: 500;
            &:focus {
              border: 1px solid $light-grey;
              border-radius: 3px;
              outline: none;
            }
          }
          .input-error {
            border: 1px solid $red;
            border-radius: 3px;
            &:focus {
              outline: none;
              border: 1px solid $red;
              border-radius: 3px;
            }
          }
        }
      }

      .input-error {
        border: 1px solid $red;
        border-radius: 3px;
        &:focus {
          outline: none;
          border: 1px solid $red;
          border-radius: 3px;
        }
      }
    }
  }

}
