@import "../../variables";

.n-dropzone {
  @include boxShadowResting;
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
  min-width: 500px;
  height: 400px;
  margin-top: 100px;
  width: 800px;
  background-color: #fff;
  border-radius: 5px;
  .n-inner-drop {
    @include browserFlex;
    @include borderBox;
    @include alignCenter;
    @include justifyCenter;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: $font-stack;
    color: $text-black;

    .n-inner-drop-main {
      margin-top: 60px;
      @include browserFlex;
      @include alignCenter;
      @include justifyCenter;
      flex-direction: column;
      .n-title {
        margin: 0;
        font-size: 32px;
      }
      .n-or-section {
        width: 470px;
        margin: 24px 0;
        @include browserFlex;
        @include alignCenter;
        justify-content: space-between;
        flex-direction: row;

        .n-or {
          font-weight: 500;
          color: #666;
        }

        .n-hr {
          width: 210px;
          height: 1px;
          background-color: $light-grey;
        }
      }

      .n-choose-files-btn {
        width: 200px;
        height: 50px;
        background-color: $blue;
        font-weight: 500;
        font-size: 18px;
        font-family: $font-stack;
        color: #fff;
        border: none;
        border-radius: 100px;
        transition: all 75ms ease-out;
        outline: none;
        &:hover {
          cursor: pointer;
          background-color: darken($blue, 5%);
        }
      }
    }
    .n-upload-note {
      color: #666;
      font-size: 14px;
      padding-top: 70px;
      font-weight: 500;
      .n-note {
        font-weight: 600;
      }
    }
  }
  .n-inner-drop-active {
    border: 1px solid $green;
    border-radius: 3px;
    @include boxShadow;
  }
  .n-inner-drop-reject {
    border: 1px solid $red;
    border-radius: 3px;
    @include boxShadow;
  }
}

// .n-dropzone-fade {
//   animation: fade 300ms ease-in;
// }

.n-upload-terms {
  margin-top: 24px;
  width: 800px;
  font-size: 16px;
  font-family: $font-stack;
  font-weight: 400;
  // text-align: center;
  color: #666;
  line-height: 1.4;
  .n-important {
    // color: $red;
    font-weight: 600;
  }
  .n-terms-link {
    color: $blue;
  }
}
