@import "../../variables";

.price-page {
  @include boxShadow;
  @include browserFlex;
  @include borderBox;
  margin-top: 50px;
  width: 810px;
  height: auto;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;

  .multi-form-details {
    border-bottom: 1px solid $light-grey;
  }

  .playlist-details {
    .field-section {
      .basic-info-section {
        padding-bottom: 10px;
        .playlist-title {
          margin: 0;
          padding: 0;
          @include titleStyles;
        }
        .genres {
          @include genreStyles;
          margin-bottom: 5px;
        }
      }

      .price-field {
        @include browserFlex;
        flex-direction: column;
        padding-bottom: 15px;
        .field-info {
          color: $text-black;
          font-family: $font-stack;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.4;
          margin: 0;
          padding: 0;
          padding-bottom: 5px;
        }
        .upload-price-input-zone {
          @include browserFlex;
          @include alignCenter;
          flex-direction: row;
          margin-top: 2px;
          .pricing-guide {
            color: $blue;
            font-weight: 400;
            padding-left: 10px;
            font-size: 14px;
            &:hover {
              cursor: pointer;
            }
          }
          .currency-con {
            @include borderBox;
            @include browserFlex;
            @include alignCenter;
            @include justifyCenter;
            height: 40px;
            width: 40px;
            color: #fff;
            background-color: $blue;
            font-weight: 600;
            font-size: 18px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          .price-input {
            @include borderBox;
            padding-left: 10px;
            width: 80px;
            font-family: $font-stack;
            color: $text-black;
            font-weight: 500;
            height: 40px;
            border: 1px solid $light-grey;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
            &:focus {
              outline: none;
              border: 1px solid #ccc;
              border-left: none;
            }
          }
        }
        .field-label {
          font-size: 15px;
          font-weight: 500;
          padding-bottom: 5px;
          .required {
            color: $red;
          }
        }
        .input-error {
          border: 1px solid $red;
          &:focus {
            outline: none;
            border-radius: 3px;
            border-left: none;
            border: 1px solid $red;
          }
        }
      }

      .can-pay-more-field {
        @include browserFlex;
        @include alignCenter;
        flex-direction: row;
        height: 20px;
        margin-bottom: 13px;
        .can-pay-more-label {
          color: $text-black;
          font-family: $font-stack;
          font-weight: 500;
          font-size: 15px;
        }
        // @include alignCenter;
        .can-pay-more-checkbox {
          margin-right: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }

      .purchase-message-field {
        height: 113px;
        .field-label {
          font-size: 15px;
          font-weight: 500;
        }
        .purchase-message-input {
          @include borderBox;
          margin-top: 5px;
          width: 100%;
          height: 90px;
          font-size: 14px;
          border: 1px solid $light-grey;
          border-radius: 3px;
          resize: none;
          padding: 8px 10px;
          line-height: 1.4;
          font-family: $font-stack;
          color: $text-black;
          font-weight: 400;
          &:focus {
            outline: none;
            border: 1px solid #ccc;
          }
        }
      }
    }
  }

  .multi-footer {
    border-top: 1px solid $light-grey;
  }

  .upload-footer {
    @include browserFlex;
    @include alignCenter;
    @include borderBox;
    padding: 0 20px;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: #fff;
    .required-fields {
      color: #666;
      font-family: $font-stack;
      font-weight: 400;
      font-size: 14px;
      .required {
        color: $red;
        font-weight: 500;
      }
    }
    .action-btns {
      .next-btn {
        height: 40px;
        width: 90px;
        background-color: $green;
        border: none;
        color: #fff;
        border-radius: 3px;
        font-family: $font-stack;
        font-weight: 500;
        padding: 0;
        font-size: 14px;
        transition: all 75ms ease-out;
        &:hover {
          cursor: pointer;
          background-color: lighten($green, 5%);
        }
      }
      .back-btn {
        height: 40px;
        margin-right: 10px;
        font-size: 14px;
        width: 90px;
        padding: 0;
        border: none;
        color: $text-black;
        font-family: $font-stack;
        font-weight: 500;
        border-radius: 3px;
        border: 1px solid $light-grey;
        background-color: #fff;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .playlist-details {
    padding: 20px;
    width: 100%;
    flex-direction: row;
    @include browserFlex;
    @include borderBox;
    .field-section {
      @include browserFlex;
      @include borderBox;
      height: auto;
      width: 100%;
      color: $text-black;
      font-family: $font-stack;
      padding-left: 20px;
      flex-direction: column;

      .field-label {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 10px;
        .required {
          color: $red;
        }
      }

      .field-error {
        color: $red;
        font-weight: 500;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }

}
