@import "../../variables";

.upload-footer {
  @include browserFlex;
  @include alignCenter;
  @include borderBox;
  padding: 0 20px;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-top: 1px solid $light-grey;
  // background-color: #fff;
  // border-radius: 3px;
  .required-fields {
    color: #666;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 14px;
    .required {
      color: $red;
      font-weight: 500;
    }
  }
  .action-btns {
    @include browserFlex;
    @include alignCenter;
    @include justifyCenter;
    flex-direction: row;
    .next-btn {
      @include greenButton;
      &:hover {
        cursor: pointer;
        background-color: lighten($green, 5%);
      }
    }
    .progress-con {
      height: 40px;
      @include browserFlex;
      @include justifyCenter;
      @include alignCenter;
      margin-right: 20px;
      .progress-text {
        @include alignCenter;
        @include justifyCenter;
        @include browserFlex;
        width: 50px;
        color: $text-black;
        font-family: $font-stack;
        font-weight: 500;
        padding-left: 5px;
      }
    }
    .back-btn {
      height: 40px;
      margin-right: 10px;
      font-size: 14px;
      width: 90px;
      padding: 0;
      // margin: 0;
      border: none;
      color: $text-black;
      font-family: $font-stack;
      font-weight: 500;
      border-radius: 3px;
      border: 1px solid $light-grey;
      background-color: #fff;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $blue;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.check-container {
  height: 30px;
  width: 30px;
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  margin: 0;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $blue;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $blue;
  }
}
