@import "../../variables";

.n-upload-container {
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-width: 850px;
}
//
