@import "../../variables";

.uploaded-track-ul {
  @include browserFlex;
  @include alignCenter;
  padding: 0px;
  margin: 0px;
  background-color: #F7F7F7;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // .sortable-list {
  //   transition: height 350ms ease-in-out;
  // }
}

.uploaded-track {
  @include browserFlex;
  @include alignCenter;
  @include borderBox;
  height: 60px;
  width: 810px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $light-grey;
  background-color: #fff;
  list-style: none;
  .playlist-position {
    @include browserFlex;
    @include alignCenter;
    @include justifyCenter;
    width: 30px;
    height: 60px;
    margin-left: 20px;
    font-weight: 600;
    font-family: $font-stack;
    color: #666;
    vertical-align: center;
    margin-right: 7px;
  }
  .drag-handle {
    color: red;
    vertical-align: baseline;
    height: 17px;
    margin-right: 15px;
    width: auto;
    &:hover {
      cursor: move;
    }
  }
  .track-name-input {
    @include borderBox;
    margin-right: 15px;
    height: 35px;
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 3px;
    font-weight: 500;
    padding-left: 10px;
    outline: none;
    color: $text-black;
    font-family: $font-stack;
    font-size: 14px;
    &:focus {
      border: 1px solid #ccc;
    }
  }
  .progressbar {
    @include browserFlex;
    @include justifyCenter;
    @include alignCenter;
  }
  .delete-track-button {
    @include browserFlex;
    @include justifyCenter;
    @include alignCenter;
    border: none;
    outline: none;
    height: 30px;
    margin-left: 10px;
    width: 30px;
    background-color: #fff;
    margin-right: 20px;
    &:hover {
      cursor: pointer;
    }
    .x-o {
      margin-top: 1px;
      height: 20px;
      width: 20px;
    }
  }
}

.add-another-track {
  background-color: #f7f7f7;
  border-bottom: 1px solid $light-grey;
  display: flex;
  align-items: center;
  color: #A2A2A2;
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  justify-content: center;
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  transition: all 90ms ease-out;
  &:hover {
    cursor: pointer;
    color: #666;
  }
}

.slide-enter {
  opacity: 0;
}

.slide-enter-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.slide-leave {
  opacity: 1;
}

.slide-leave-active {
  opacity: 0;
  transition: opacity 3000ms ease-out;
}

.slide-appear {
  opacity: 0;
}

.slide-appear-active {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.anim-enter, .anim-leave {
    transition: all 350ms ease-out;
    -moz-transition: all 350ms ease-out;
    -webkit-transition: all 350ms ease-out;
}
.anim-enter, .anim-leave.anim-leave-active {
    opacity: 0;
    transform: scale(0.5, 0);
    transform-origin: top left;
    overflow: hidden;
}
.anim-leave, .anim-enter.anim-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top center;
    overflow: hidden;
}

$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke: $blue;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.check-container {
  height: 30px;
  width: 30px;
  @include browserFlex;
  @include alignCenter;
  @include justifyCenter;
}

.checkmark {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  margin: 0;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px $blue;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s $curve .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $blue;
  }
}
