@import "../../variables";

.upload-artwork-zone {
  .artwork-blob-con {
    .artwork-overlay {
      @include browserFlex;
      @include justifyCenter;
      @include alignCenter;
      height: 260px;
      width: 260px;
      border-radius: 3px;
      position: absolute;
      background-color: rgba(0,0,0,0);
      transition: all 300ms ease-out;
      .change-artwork {
        transition: all 300ms ease-out;
        color: #fff;
        font-family: $font-stack;
        font-weight: 600;
        opacity: 0;
      }
      &:hover {
        background-color: rgba(0,0,0,0.3);
        .change-artwork {
          opacity: 1;
        }
      }
    }
    height: 260px;
    width: 260px;
    .artwork-blob {
      position: absolute;
      height: 260px;
      border-radius: 3px;
      width: 260px;
    }
  }

  .upload-artwork {
    flex-direction: column;
    @include browserFlex;
    @include justifyCenter;
    @include alignCenter;
  }
  @include browserFlex;
  @include justifyCenter;
  @include alignCenter;
  min-width: 260px;
  border-radius: 3px;
  height: 260px;
  background-image: -webkit-linear-gradient(320deg, #4E9EFB 0%, #0775F7 53%, #2386FB 99%);
  background-image: -o-linear-gradient(320deg, #4E9EFB 0%, #0775F7 53%, #2386FB 99%);
  background-image: linear-gradient(50deg, #4E9EFB 0%, #0775F7 53%, #2386FB 99%);
  /* Rectangle 16: */
  transition: all ease-out 200ms;
  &:hover {
    cursor: pointer;
    background-color: lighten($blue, 5%);
    .camera-icon {
      width: 80px;
      opacity: 0.9;
      transform: scale(1.1);
    }
    .add-artwork {
      opacity: 0.9;
      transform: scale(1.1);
    }
  }
  .camera-icon {
    width: 80px;
    opacity: 0.8;
    transition: all ease-out 200ms;
  }
  .add-artwork {
    margin-top: 10px;
    font-family: $font-stack;
    color: #fff;
    // text-align: center;
    font-weight: 600;
    opacity: 0.8;
    transition: all ease-out 200ms;
  }
}
