@import "../../../variables";

.login-form-page {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  width: 380px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $text-black;
  font-family: $font-stack;
  .signup-instead {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .signup-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      text-decoration: none;
      height: 40px;
      background-color: #fff;
      border: 1px solid $blue;
      border-radius: 3px;
      color: $blue;
      font-family: $font-stack;
      font-size: 14px;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .hr {
    width: 380px;
    border-bottom: 1px solid $light-grey;
    height: 0px;
    margin: 20px 0;
  }
  .login-button {
    width: 380px;
    height: 65px;
    background-color: $green;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      background-color: desaturate($green, 10%);
      cursor: pointer;
    }
  }
  .login-email-username {
    display: flex;
    flex-direction: column;
    .email-username-label {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .field-error {
      color: $red;
      font-weight: 500;
      font-size: 14px;
      margin-top: 5px;
    }
    .login-email-username-input {
      width: 380px;
      @include borderBox;
      color: $text-black;
      font-family: $font-stack;
      height: 45px;
      border: 1px solid $light-grey;
      border-radius: 3px;
      font-size: 16px;
      padding-left: 15px;
      font-weight: 500;
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }
    .input-error {
      border: 1px solid $red;
      &:focus {
        outline: none;
        border: 1px solid $red;
      }
    }
  }
  .login-password {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .field-error {
      color: $red;
      font-weight: 500;
      font-size: 14px;
      margin-top: 5px;
    }
    .password-label {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 10px;
    }
    .login-password-input {
      @include borderBox;
      color: $text-black;
      font-family: $font-stack;
      width: 380px;
      height: 45px;
      border: 1px solid $light-grey;
      border-radius: 3px;
      font-size: 16px;
      padding-left: 15px;
      font-weight: 500;
      &:focus {
        outline: none;
        border: 1px solid $blue;
      }
    }
    .input-error {
      border: 1px solid $red;
      &:focus {
        outline: none;
        border: 1px solid $red;
      }
    }
  }
}
