@import "../../../variables";

.modal {
  justify-content: center;
  width: 420px;
  align-items: center;
  position: absolute;
  display: flex;
  background-color: #fff;
  outline: none;
  border-radius: 3px;
  animation: slideDown 300ms ease-out;
  // @include boxshadow;
  transition: all 200ms ease-in;
}

.overlay {
  background-color: rgba(23,23,23,0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.ReactModal__Body--open {
    overflow: hidden;
}
