@import "../../../variables";

.login-modal {
  justify-content: center;
  width: 420px;
  align-items: center;
  position: absolute;
  display: flex;
  background-color: #fff;
  outline: none;
  border-radius: 3px;
  animation: slideDown 300ms ease-out;
  // @include boxshadow;
  transition: all 200ms ease-in;
}

.login-overlay {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include alignCenter;
  @include browserFlex;
  @include justifyCenter;
  z-index: 2;
  transition: all 200ms ease-in;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.ReactModal__Body--open {
    overflow: hidden;
}
